.root {
    -fx-background-color: #F8F9FA;
    -fx-font-family: "Manrope";
}



.sidebar-btn:hover {
    -fx-text-fill: #2563EB;
    -fx-background-color: #E8F0FE;
    -fx-background-radius: 20;
}

.card {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 16;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.04), 15, 0.2, 0, 4);
}

.card:hover {
    -fx-background-color: #f5f9ff;
    -fx-effect: dropshadow(gaussian, rgba(37, 99, 239, 0.25), 25, 0.3, 0, 4);
}

title.setStyle(
    "-fx-font-size: 16px;" +
    "-fx-font-weight: 600;" +
    "-fx-text-fill: #111827;"
);

subtitle.setStyle(
    "-fx-font-size: 10px;" +
    "-fx-text-fill: #6B7280;" +
    "-fx-letter-spacing: 1;"
);

.button-primary {
    -fx-background-color: linear-gradient(to bottom, #0056D2, #0041A8);
    -fx-background-radius: 12;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.top-bar {
    -fx-background-color: #ffffff;
}

.search-box {
    -fx-background-color: #EAEFF1;
    -fx-background-radius: 20;
    -fx-padding: 8 16;
    -fx-pref-height: 36;
}

.sidebar {
    -fx-background-color: #ffffff;
    -fx-border-color: #e5e7eb;
    -fx-border-width: 0 1 0 0;
}

/* Menu buttons */
.sidebar-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #6B7280;
    -fx-font-size: 14px;
    -fx-padding: 10 16;
    -fx-alignment: CENTER-LEFT;
    -fx-background-radius: 10;
}

.sidebar-btn:hover {
    -fx-background-color: #F3F6FB;
}

/* Active */
.sidebar-active {
    -fx-background-color: #EEF4FF;
    -fx-text-fill: #2563EB;
}

/* Primary button */
.primary-btn {
    -fx-background-color: #2563EB;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-padding: 10;
}